.tabs--vertical {
  background: rgba(var(--color-interface), 1);
  border: 1px solid rgba(var(--color-border), 1);
  display: flex;
  flex-wrap: nowrap;

  .tab__nav {
    background: rgba(var(--color-base900), 1);
    border-right: 1px solid rgba(var(--color-border), 1);
    max-width: 370px;
    min-width: 270px;
    width: 30%;

    @include breakpoint($xs) {
      max-width: 50%;
      min-width: 50%;
      width: 50%;
    }

    > ul {
      border-bottom: 1px solid rgba(var(--color-border), 1);
      list-style-type: none;
      margin: 0 0 -1px 0;
      padding: 0;
    }
  }

  .tab__item {
    margin: 0;

    &:last-child > a {
      border-bottom: none;

      &.is-activated,
      &:active {
        border-bottom: 1px solid rgba(var(--color-border), 1);
      }
    }

    a {
      border-bottom: 1px solid rgba(var(--color-border), 1);
      border-right: 1px solid rgba(var(--color-border), 1);
      color: rgba(var(--color-primary), 1);
      display: block;
      font-family: $defaultFont;
      font-size: $ms0-fontSize;
      line-height: calc($ms0-fontSize/7*12);
      margin-right: -1px;
      padding: 12px 16px;
      text-decoration: none;

      &:hover {
        background-color: rgba(var(--color-primary-light), 0.15);
        color: rgba(var(--color-primary), 1);
      }

      &.is-activated {
        background-color: rgba(var(--color-interface-highlight), 1);
        border-right: 1px solid rgba(var(--color-interface-highlight), 1);
        color: rgba(var(--color-font), 1);
      }

      &:active {
        background-color: rgba(var(--color-interface-highlight), 1);
        color: rgba(var(--color-font), 1);
      }

      &:focus {
        background: rgba(var(--color-interface), 1);
        box-shadow: inset 0 0 0 2px rgba(var(--color-primary-light), 1);
        // IE11 does not support outline-offset
        // outline: 2px solid $primary-light;
        // outline-offset: -2px;
        outline: 0;
      }

      &.is-disabled,
      &.is-disabled:hover {
        color: rgba(var(--color-font-disabled), 1);
        background-color: rgba(var(--color-base900), 1);
        cursor: default;
        pointer-events: none;

        .tab__description {
          color: rgba(var(--color-font-disabled), 1);
        }
      }
    }
  }

  .tab__headline {
    align-items: center;
    display: flex;
    font-family: $defaultFont;
    font-weight: bold;
    line-height: $ms0-lineHeight;

    .iconUxt {
      font-size: $iconSizeL;
      margin-right: 4px;
    }
  }

  .tab__description {
    color: rgba(var(--color-font-secondary), 1);
    display: block;
    font-size: $ms-1-fontSize;
    line-height: $ms-1-lineHeight;
    margin-top: 4px;
  }

  .tab__content {
    background-color: rgba(var(--color-interface-highlight), 1);
    padding: 24px;
  }
}