.progressbar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    height: inherit;
    width: 100%;

    progress,
    .progress {

        @-moz-document url-prefix() {
            -webkit-appearance: auto;
        }

        appearance:none;
        -webkit-appearance: none;
        accent-color: rgba(var(--color-primary), 1);

        height: 4px;
        width: 100%;
    }

    ::-webkit-progress-bar {
        background-color: rgba(var(--color-base900), 1);
        border-radius: 3px;
    }

    ::-webkit-progress-value {
        background-color: rgba(var(--color-primary), 1);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__value {
        background-color: rgba(var(--color-primary), 1);
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

    &__label {
        color: rgba(var(--color-font), 1);
        font-size: $ms0-fontSize;
        font-weight: bold;
        line-height: $ms0-lineHeight;
    }

    &__status {
        color: rgba(var(--color-font-secondary), 1);
        display: flex;
        font-size: $ms-1-fontSize;
        justify-content: space-between;
        line-height: $ms-1-lineHeight;
        padding-top: 4px;

        width: 100%;

        &::after {
            font-size: $iconSizeL;
            line-height: $iconSizeL;
        }
    }

    &__description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__indeterminate {

        .progress {
            background-color: rgba(var(--color-base900), 1);
            overflow: hidden;

            &__value {
                width: 100%;
                height: 100%;
                background-color: rgba(var(--color-primary), 1);
                animation: indeterminateAnimation 2.5s infinite linear;
                transform-origin: 0% 50%;
            }

            @keyframes indeterminateAnimation {
                0% {
                    transform: translateX(0) scaleX(0);
                }

                40% {
                    transform: translateX(0) scaleX(0.4);
                }

                100% {
                    transform: translateX(100%) scaleX(0.5);
                }
            }
        }
    }

    &__segments {
        display: flex;
        flex: 1;
        gap: 4px;

        width: 100%;

        .progress {
            border-radius: 0;
            background-color: rgba(var(--color-base900), 1);
            height: 8px;
        }

        .progressbar__segment {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            width: 100%;

            &:first-child {
                .progress {
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                }
            }

            &:last-child {
                .progress {
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }

            &.is-finished {
                .progress {
                    background-color: rgba(var(--color-primary), 1);
                }
            }
        }

        &--vertical {
            flex-direction: column;

            height: 100%;
            width: auto;

            .progressbar__segment {
                display: flex;
                flex-direction: row-reverse;
                gap: 8px;
                justify-content: flex-end;

                height: inherit;

                .progress {
                    border-radius: 0;

                    min-width: 8px;
                    width: 8px;
                    height: 100%;
                }

                &:first-child,
                &:last-child {
                    .progress {
                        border-radius: 0;
                    }
                }

                &:first-child {
                    .progress {
                        border-top-right-radius: 3px;
                        border-top-left-radius: 3px;
                    }
                }

                &:last-child {
                    .progress {
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                }
            }

            + .progressbar__status {
                margin-left: 12px;

                width: auto;
            }
        }
    }


    &.progressbar--center {
        align-items: center;

        .progressbar__status {
            justify-content: center;

            &:after {
                display: none;
            }
        }

        .progressbar__description {
            text-align: center;
        }
    }

    &.progressbar--indent {

        .progressbar {

            &__label,
            &__description {
                padding-left: 40px;
            }

            &__status::after {
                padding-right: 18px;
            }
        }

        ::-webkit-progress-bar,
        ::-webkit-progress-value {

            border-radius: 0px
        }
    }

    &.progressbar--inline {
        align-items: center;
        flex-direction: row;
        gap: 6px;
        min-height: 42px;

        .progress {
            flex: 1;
        }

        .progressbar__status {
            padding: 0;

            width: auto;

            &:after {
                display: none;
            }
        }

        .progressbar__description {
            max-width: 200px;
            -webkit-line-clamp: 3;
        }
    }

    &.progressbar--bold {
        .progress {
            height: 8px;
        }
    }

    &.is-idle {
        .progressbar__value {
            display: none;
        }
    }

    &.is-success,
    &.is-warning,
    &.is-error {
        ::-webkit-progress-value {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &.is-success {
        .progress {
            accent-color: rgba(var(--color-success), 1);
        }

        ::-webkit-progress-value {
            background-color: rgba(var(--color-success), 1);
        }

        .progressbar__status {
            @include iconUxt-filled(ok, after);

            &::after {
                color: rgba(var(--color-success), 1);
            }
        }
    }

    &.is-warning {
        .progress {
            accent-color: rgba(var(--color-warning), 1);
        }

        ::-webkit-progress-value {
            background-color: rgba(var(--color-warning), 1);
        }

        .progressbar__status {
            @include iconUxt-filled(exclamationDiamond, after);
            color: rgba(var(--color-font-secondary), 1);

            &::after {
                color: rgba(var(--color-warning), 1);
            }
        }
    }

    &.is-error {
        .progress {
            accent-color: rgba(var(--color-error), 1);
        }

        ::-webkit-progress-value {
            background-color: rgba(var(--color-error), 1);
        }

        .progressbar__status {
            @include iconUxt-filled(errorAlert, after);
            color: rgba(var(--color-error), 1);
        }
    }

    &__top {
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        padding-bottom: 8px;

        &.is-expanded {
            .progress {
                height: 16px;
            }

            .progressbar__label {
                opacity: 1;
                line-height: 16px;

            }

            .popover {
                display: inline-block;
            }
        }

        .popover {
            display: none;

            .popover__container {
                max-width: 665px;

                .popover__title {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        ::-webkit-progress-bar,
        ::-webkit-progress-value {
            border-radius: 0px
        }

        &.is-success,
        &.is-error {
            ::-webkit-progress-value {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .progressbar__label {
            color: rgba(var(--color-font-secondary), 1);
            font-size: $ms-2-fontSize;
            font-weight: bold;
            transition: opacity 0.15s ease-out;
            opacity: 0;
            position: absolute;
        }

        .progress {
            transition: height 0.15s ease-out;
        }

        &:hover {

            @extend .is-expanded
        }

        .popover {
            width: 100%;
        }

        .popover .popover__container {
            bottom: -8px;
            width: auto;
            right: 0;

            .popover__title .button {
                margin: 0;
            }
        }
    }
}